# Server
PORT="3000" # ダミーサーバーのPORT

# Discord
DISCORD_TOKEN="your-discord-token" # DiscordBotのtoken
OBSERVE_USER_VOICE_CHANNEL_ID="your-voice-channel-id" # Discordで入退室を監視したいチャンネルID
OBSERVE_USER_TEXT_CHANNEL_ID="your-text-channel-id" # Discordで入退室を通知するテキストチャンネルID
OPEN_AI_TEXT_CHANNEL_ID="your-openai-channel-id" # DiscordでOpenAIの応答を行うテキストチャンネルID

# OpenAI
OPENAI_API="your-openai-api-key" # OpenAIのAPIキー
